// Colors
$main-color: #222222;
$seconday-color: #eaac00;
$grey: #eeeeee;
$lightgrey: #f4f4f4;
$brightgrey: #888888;
$darkgrey: #666666;

// Fonts

$font-xs: 0.875rem; // 14px
$font-sm: 1rem; // 16px
$font-md: 1.125rem; // 18px
$font-lg: 1.5rem; // 24px
$font-xl: 2.5rem; // 40px
